:root{
    --primary-black-color: #303030;
    --primary-white-color: #FFFF;
    --primary-green-color: #0E6437;
    --primary-gray-color: #e3e3e3;
    
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: var(--primary-black-color);
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;  
    color: var(--primary-black-color);
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;  
    color: var(--primary-black-color);  
}
a{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; 
    text-decoration: none; 
    color: var(--primary-black-color);  
}
.container{
    display:grid;
    max-width:1440px;
    margin:auto;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
    'nav nav' 
    'coverStory coverStory'
    'main sidebar'
    'section section'
    'footer footer';
}
.navbar{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    margin:20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--primary-black-color);
}
.navbar-brand{
 text-transform: uppercase;
 font-weight: 700;
}
.navbar-links-container{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.navbar-button-container{
    display:flex;
    gap: 40px;
    flex-wrap: wrap;
}
.navbar-search{
    height: 30px;
}
.navbar-button{
    border: none;
    background: var(--primary-black-color);
    color: var(--primary-white-color);
    font-family: 'MONTSERRAT', sans-serif;
    font-size: 16px;
    border-radius: 8px;
    height: 30px;
    width: 100px;
}
.box-container{
    margin: 20px;
    box-shadow: 0px 4px 50px #d9d9d9;
    padding: 20px;
}
.cover{
    grid-area: coverStory;
   
    /*grid-template-columns: 2fr minmax(0, 1.5fr);
    grid-auto-rows: auto;
    column-gap: 20px;
    grid-template-areas:
    'category category'
    'image text';*/
    
}
.cover-container{
    display:flex;
    column-gap: 20px;
    flex-wrap: wrap;
}
.category{
    grid-area: category;
    font-size: 10px;
    color: var(--primary-green-color);
    margin-bottom: 5px;
    text-transform: uppercase;
}
.cover-image{
    grid-area: image;
    width:700px;
    height:400px; 
    background:url(assets/Travel-Cover.jpg) ;
    background-repeat: no-repeat;
    background-position-y: 35%;
    background-size: cover;
}
.cover-text{
    max-width: 35%;
    margin: 0 auto;
}
.cover-text-titel{
    margin-bottom: 20px;
}
.cover-text-description{
    line-height: 20px;
}
.text-link{
    color: var(--primary-green-color);
}
.main-container{
    grid-area: main;
}
.main{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}
.main-image{
    width:450px;
    height:300px;
}
.main-text{
    max-width: 40%;
    margin: 0 auto;
}
.main-title{
    font-size: 22px;
    margin-bottom: 20px;
}
.main-description{
    font-size: 14px;
    line-height: 18px;
}
.main-link{
    color: var(--primary-green-color);
    font-size: 14px;
    }
.image-1{
    background: url(assets/Fairy-Tail.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;  
}
.image-2{
 background: url(assets/Star-wars.jpg);
 background-repeat: no-repeat;
 background-size: cover;
background-position-y: 47%;
}
.sidebar{
    grid-area: sidebar;
}
.most-read{
    padding-bottom:20px;
    border-bottom: 1px solid var(--primary-black-color);
}
.most-read-container{
    display:flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.most-read-text{
    font-weight: 700;
}
.main-section-container{
    grid-area: section;
    display:flex;
    flex-wrap:wrap;
    row-gap: 20px;
    justify-content: center;
}
.main-section{
    max-width:25%;
    min-width: 275px;
}
.main-category{
    justify-self:flex-start;
}
.main-section-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}
.main-section-image{
    width:275px;
    height:250px;
    margin-bottom: 20px;
}
.image-3{
    background: url(assets/Disneyland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 38%;
}
.footer{
    grid-area:footer;
    
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
}
.footer-links{
    display: flex;
    gap: 20px;
    align-items: center;
}
.footer-newsletter{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;  
    color: var(--primary-black-color);  
}

.newsletter-input{
    margin-top: 8px;
    margin-right: 8px;
    width: 300px;
    height: 25px;
    border: none;
    background: var(--primary-gray-color);
    border-radius: 8px;
    padding-left: 8px;
}
.newsletter-btn{
    border: none;
    border-radius: 8px;
    height: 25px;
    width: 100px;
    background: var(--primary-black-color);
    color: var(--primary-white-color);
    font-family: 'MONTSERRAT', sans-serif;
    font-size: 16px;
   
}
