h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;  
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;    
}
.container{
    display:grid;
    max-width:1440px;
    margin:auto;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
    'nav nav' 
    'coverStory coverStory'
    'main sidebar'
    'footer footer';

}
.navbar{
    grid-area: nav;
}
.cover-story{
    grid-area: coverStory;
}
.main{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
}
.footer{
    grid-area:footer;
}